
  <div  class="bg-black h-48 text-white text-center py-20">
  <p class="text-4xl"><b>SEPHORA COLLECTION</b></p>
  </div>
  <header class="flex ">
  <div >
     <button>
       <svg  class="h-10 w-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="w-6 h-6">
       <path strokeLinecap="round" strokeLinejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
       </svg>
    </button>
  </div>
  <div>
  <button>
    <svg  class="h-10 w-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="w-6 h-6">
    <path strokeLinecap="round" strokeLinejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
    </svg>


  
  </button>
  </div>
  </header>



<h1>Articles</h1>
Our blog has <%= Article.public_count %> articles and counting!
<div>

<button class="bg-slate-300" >
    <%= link_to "New Article", new_article_path %>
  </button>
  </div>
  <button class="bg-slate-300 p-3.5 decoration-black py-px decoration-auto inline-block text-base cursor-pointer rounded-3xl">
 <%= link_to 'LogOut', destroy_user_session_path, method: :delete %></button>





<ul>

 <div class=" grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4  ">
          <% @articles.each do |article| %>
            <% unless article.archived? %>
                <div class="drop-shadow-2xl   w-full rounded overflow-hidden shadow-lg text-center ">
                
                
                  
                      <div class="w-full items-center h-72 bg-center bg-cover max-w-md mx-auto sm:mt-8 sm:h-64" style="background-image: url('<%= url_for(article.image) if article.image.attached? %>')">
              </div>             
                    
                    
                      <div class="sm:mt-8 sm:text-1xl"> <%= link_to article.title, article %></div>
                      <div><%= link_to article.body, article %></div>
                     
              

                </div>
             <% end %>
          <% end %>
 
</div>


</ul>





