

  <button class="bg-slate-300" >
    <%= link_to "New Article", new_article_path %>
  </button>
  
  <button class="bg-slate-300 p-3.5 decoration-black py-px decoration-auto inline-block text-base cursor-pointer rounded-3xl">
    <%= link_to 'LogOut', destroy_user_session_path, method: :delete %>
  </button>
  
</header>

<div class="ml-50"> 
  <div class="w-fit m-auto overflow_hidden">
    <img alt="" data-sizes="auto" class="lazyloadimage blur-up lazyautosizes ls-is-cached lazyloaded" src="https://www.nocibe.fr/fstrz/r/s/www.nocibe.fr/wp-content/uploads/2022/05/TETIERE2-1-1024x170.png?frz-v=5030" >
  </div>
<br>
  <div class=" grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8 w-fit m-auto">
  <div class="content_grid_box overflow_hidden ">
  <%= link_to conseilsoins_path do %>
    <button> <img class="wp-image-11384 rounded-full" src="https://www.nocibe.fr/fstrz/r/s/www.nocibe.fr/wp-content/uploads/2022/05/VIGNETTESOIN.png?frz-v=5030">
    <p class="w-fit m-auto " >conseils soin </button> </p>
  <% end %>
  </div>
  <div class="content_grid_box overflow_hidden">
   <%= link_to conseilmakeups_path do %>
    <button><img class="wp-image-11384 rounded-full" src="https://www.nocibe.fr/fstrz/r/s/www.nocibe.fr/wp-content/uploads/2022/05/MAKEUPCAT-3.png?frz-v=5030">
    <p class="w-fit m-auto">Conseils make-up </button></p>
     <% end %>
  </div>
  <div class="content_grid_box overflow_hidden">
  <%= link_to conseilparfums_path do %>
    <button><img class="wp-image-11384 rounded-full" src="https://www.nocibe.fr/fstrz/r/s/www.nocibe.fr/wp-content/uploads/2022/05/PARFUMCAT-3.png?frz-v=5030">
    <p class="w-fit m-auto">Conseils Parfum </button></p>
    <% end %>
  </div>
  <div class="content_grid_box overflow_hidden">
  <%= link_to conseilcapillaires_path do %>
    <button><img class="wp-image-11384 rounded-full" src="https://www.nocibe.fr/fstrz/r/s/www.nocibe.fr/wp-content/uploads/2022/05/CAPILLAIRECAT-3.png?frz-v=5030">
    <p class="w-fit m-auto">Conseils Capillaire</button></p>
    <% end %>
  </div>
  </div>
  <br>
</div>
<div class=" grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3 w-2/3 m-auto">
<div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full " src="https://static.sephora.fr/www/webmaster/mothers-day-2023-master-studio/moz-01-DN.jpg">
  <div class="px-6 py-4 bg-rose-300 hover:bg-rose-200">
    <div class="font-bold text-xl mb-2 text-center "><button> <%= link_to "cadeaux Parfum", parfums_path %></button> </div>
      <p class="text-gray-700 text-base"> </p>
    </div>
  </div>
  <div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://static.sephora.fr/www/webmaster/mothers-day-2023-master-studio/moz-02-DN.jpg">
  <div class="px-6 py-4 bg-rose-300 hover:bg-rose-200">
    <div class="font-bold text-xl mb-2 text-center "> <button> <%= link_to "cadeaux Maquillage", maquillages_path %></button> </div>
      <p class="text-gray-700 text-base"> </p>
    </div>
  </div>
  <div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://static.sephora.fr/www/webmaster/mothers-day-2023-master-studio/moz-03-DN.jpg">
  <div class="px-6 py-4 bg-rose-300 hover:bg-rose-200">
    <div class="font-bold text-xl mb-2 text-center "> <button>  <%= link_to "cadeaux soin visage", soinvisages_path %> </button> </div>
      <p class="text-gray-700 text-base"> </p>
    </div>
  </div>
  <div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://static.sephora.fr/www/webmaster/mothers-day-2023-master-studio/moz-04-DN.jpg">
  <div class="px-6 py-4 bg-rose-300 hover:bg-rose-200">
    <div class="font-bold text-xl mb-2 text-center "><button> <%= link_to "cadeaux soin cheveux",soincheveus_path %>  </button> </div>
      <p class="text-gray-700 text-base"> </p>
    </div>
  </div>
  <div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://static.sephora.fr/www/webmaster/mothers-day-2023-master-studio/moz-05-DN.jpg">
  <div class="px-6 py-4 bg-rose-300 hover:bg-rose-200">
    <div class="font-bold text-xl mb-2 text-center "><button>  <%= link_to "cadeaux corps et bains" ,corpsetbains_path %> </button> </div>
      <p class="text-gray-700 text-base"> </p>
    </div>
  </div>
  <div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://www.sephora.fr/dw/image/v2/BCVW_PRD/on/demandware.static/-/Library-Sites-SephoraV2/default/dwe78b4e1d/LP/Mother%20Day/moz-06-M.jpg">
  <div class="px-6 py-4 bg-rose-300 hover:bg-rose-200">
    <div class="font-bold text-xl mb-2 text-center "><button><%= link_to" Parfum premium" ,premiums_path %> </button></div>
      <p class="text-gray-700 text-base"> </p> 
    </div>
  </div>
</div><br>
<p class="w-fit m-auto text-4xl">Nos selection cadeaux  <b class="text-red-300">par prix</b></p><br>

<div class=" grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3 w-2/3 m-auto">
<div class="px-6 py-4 bg">

    <div class="font-bold text-xl mb-2 text-center  "><button class=" relative "> <%= link_to moins_path do %><img class="w-full absolute " src="https://static.sephora.fr/www/webmaster/mothers-day-2023-master-studio/bg-btn-01-D.png"> <p class=""> Moins de 30$ gghg<p></button> </div>
      <p class="text-gray-700 text-base"> </p>
      <% end %>
    </div>
    <div class="px-6 py-4 bg">
    
    <div class="font-bold text-xl mb-2 text-center "><button class=" relative"> <img class="w-full absolute" src="https://static.sephora.fr/www/webmaster/mothers-day-2023-master-studio/bg-btn-01-D.png"> <p class=""> Entre 30 et 80$<p></button> </div>
      <p class="text-gray-700 text-base"> </p>
      
      
    </div>
    <div class="px-6 py-4 bg">
     
    <div class="font-bold text-xl mb-2 text-center "><button class=" relative"> <img class="w-full absolute" src="https://static.sephora.fr/www/webmaster/mothers-day-2023-master-studio/bg-btn-01-D.png"> <p class=""> Plus de 80$ gggg<p></button> </div>
      <p class="text-gray-700 text-base"> </p>
      
       
    </div>
</div>
<br>
