

<div class="bg-black m-20">
<div class=" center rounded overflow-hidden shadow-lg relative">
  <img class="m-10  " src="https://www.sephora.fr/on/demandware.static/-/Sites-siteCatalog_Sephora_FR/default/dw16af456c/category_banners/Maquillage/Estore20_TopCat_MU_Web.jpg">
  <div class="absolute left-14 top-10  mt-6">
  <h1 class="text-3xl">Maquillage</h1>
  <br>
  <p class="text-xl">
Essentiel beauté incontournable, le maquillage est notre meilleur allié ! Teint frais, <br>
lèvres gourmandes et smoky eyes, le makeup parfait est à portée de main. On laisse libre cours<br>
à toutes nos envies maquillage en créant des looks à l'infini ! Best-sellers ou nouveautés<br>
beauté, le maquillage n'a jamais été aussi fun qu'avec Sephora.</p>
  </div>
</div>
</div>
<h1 class="w-fit m-auto text-8xl"> M A Q U I L L A G E</h1><br>
<div class=" grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 w-2/3 m-auto">


<div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://www.nocibe.fr/bibliotheque/PageListe/sous_categ/C-47702.jpg">
  <div class="px-6 py-4 bg-white">
    <div class="font-bold text-xl mb-2 text-center "><button> Teint</button> </div>
      <p class="text-gray-700 text-base"> </p>
    </div>
  </div>
  
<div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://www.nocibe.fr/bibliotheque/PageListe/sous_categ/C-47705.jpg">
  <div class="px-6 py-4 bg-white">
    <div class="font-bold text-xl mb-2 text-center "><button> lèvres</button> </div>
      <p class="text-gray-700 text-base"> </p>
    </div>
  </div>
  
  <div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://www.nocibe.fr/bibliotheque/PageListe/sous_categ/C-47703.jpg">
  <div class="px-6 py-4 bg-white">
    <div class="font-bold text-xl mb-2 text-center "><button> Yeux</button> </div>
      <p class="text-gray-700 text-base"> </p>
    </div>
  </div>
   <div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://www.nocibe.fr/bibliotheque/PageListe/sous_categ/C-47714.jpg">
  <div class="px-6 py-4 bg-white">
    <div class="font-bold text-xl mb-2 text-center "><button> Palette et Malette </button> </div>
      <p class="text-gray-700 text-base"> </p>
    </div>
  </div>
  


 
  </div><br><br>

  


 
  </div><br>
   <p class="w-fit m-auto text-4xl">Nouveautés </p><br> 
    



<div class=" grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 w-2/3 m-auto">
  <div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://www.sephora.fr/dw/image/v2/BCVW_PRD/on/demandware.static/-/Sites-masterCatalog_Sephora/default/dw9314e5ea/images/hi-res/SKU/SKU_4109/688620_swatch.jpg?sw=240&sh=240&sm=fit">
  <div class="px-6 py-4 bg-white">
    <div class="font-bold text-xl mb-2 text-center "><button>  Mac <br>
      Connect in colour<br>
      Palette d'ombres a paupières<br>
      49,00 €<br></button> </div>
         <div class="px-6 py-4 bg-slate-300 hover:bg-slate-200">
    <div class="font-bold text-xl mb-2 text-center "><button><%= link_to "Ajouter au panier", paniers_path %></button> </div>
      <p class="text-gray-700 text-base"> </p>
     </div>
    </div>
  </div>

  <div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://www.nocibe.fr/fstrz/r/s/www.nocibe.fr/medias/produits/310490/310490-kylie-by-kylie-jenner-mascara-volume-kylash-001-noir-12-ml-300x300.jpg?frz-v=5036">
  <div class="px-6 py-4 bg-white">
    <div class="font-bold text-xl mb-2 text-center "><button>  "kylie BY kylie jenner" <br>
      Mascara volume kylash<br>
      Mascara<br>
      26,50 €<br></button> </div>
         <div class="px-6 py-4 bg-slate-300 hover:bg-slate-200">
    <div class="font-bold text-xl mb-2 text-center "><button><%= link_to "Ajouter au panier" , paniers_path %></button> </div>
      <p class="text-gray-700 text-base"> </p>
 </div>
    </div>
  </div>

   <div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://www.nocibe.fr/fstrz/r/s/www.nocibe.fr/medias/produits/293155/293155-nocibe-pretty-blush-03-hollyhocks-3-7-g-300x300.jpg?frz-v=5036">
  <div class="px-6 py-4 bg-white">
    <div class="font-bold text-xl mb-2 text-center "><button>NOCIBE<br>
      pretty blush<br>
      blush<br>
      (nocibe)<br>
      12,9 €<br></button> </div>
         <div class="px-6 py-4 bg-slate-300 hover:bg-slate-200">
    <div class="font-bold text-xl mb-2 text-center "><button> <%= link_to "Ajouter au panier", paniers_path %></button> </div>
      <p class="text-gray-700 text-base"> </p>
    </div>
    </div>
  </div>

   <div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://www.sephora.fr/dw/image/v2/BCVW_PRD/on/demandware.static/-/Sites-masterCatalog_Sephora/default/dwa24c9ade/images/hi-res/SKU/SKU_4118/688860_swatch.jpg?sw=240&sh=240&sm=fit">
  <div class="px-6 py-4 bg-white">
    <div class="font-bold text-xl mb-2 text-center "><button>YVES SAINT LAURENT<br>
      Couture Mini Clutch<br>
      Palette de fards a paupière..<br>
      72,00€ <br></button> </div>
         <div class="px-6 py-4 bg-slate-300 hover:bg-slate-200">
    <div class="font-bold text-xl mb-2 text-center "><button> <%= link_to "Ajouter au panier" , paniers_path %></button> </div>
      <p class="text-gray-700 text-base"> </p>
     </div>
    </div>
  </div><br>
</div>

<div class=" grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 w-2/3 m-auto">
  <div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://www.sephora.fr/dw/image/v2/BCVW_PRD/on/demandware.static/-/Sites-masterCatalog_Sephora/default/dw4469fdf7/images/hi-res/SKU/SKU_1017/449219_swatch.jpg?sw=240&sh=240&sm=fit">
  <div class="px-6 py-4 bg-white">
    <div class="font-bold text-xl mb-2 text-center "><button> ESTÉE LAUDER<br>
     Double wear<br>
      font de Teint longue tenue..<br>
      42,75 €<br></button> </div>
         <div class="px-6 py-4 bg-slate-300 hover:bg-slate-200">
    <div class="font-bold text-xl mb-2 text-center "><button> <%= link_to "Ajouter au panier" , paniers_path %></button> </div>
      <p class="text-gray-700 text-base"> </p>
    </div>
  </div>
  </div>

  <div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://www.sephora.fr/dw/image/v2/BCVW_PRD/on/demandware.static/-/Sites-masterCatalog_Sephora/default/dwe254e4f0/images/hi-res/SKU/SKU_843/449112_swatch.jpg?sw=240&sh=240&sm=fit">
  <div class="px-6 py-4 bg-white">
    <div class="font-bold text-xl mb-2 text-center "><button> CLINIQUE<br>
      EVEN BETTER MAKEUP SPF 15<br>
      Fond de Teint correct..<br>
      37,42 €<br></button> </div>
         <div class="px-6 py-4 bg-slate-300 hover:bg-slate-200">
    <div class="font-bold text-xl mb-2 text-center "><button> <%= link_to "Ajouter au panier" , paniers_path %></button> </div>
      <p class="text-gray-700 text-base"> </p>
    </div>
  </div>
  </div>

   <div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://www.sephora.fr/dw/image/v2/BCVW_PRD/on/demandware.static/-/Sites-masterCatalog_Sephora/default/dwd46d2e2c/images/hi-res/SKU/SKU_6/427691_swatch.jpg?sw=240&sh=240&sm=fit">
  <div class="px-6 py-4 bg-white">
    <div class="font-bold text-xl mb-2 text-center "><button>LANCOME<br>
      hypnose<br>
      mascara<br>
      (lancome)<br>
      83,00 €<br></button> </div>
         <div class="px-6 py-4 bg-slate-300 hover:bg-slate-200">
    <div class="font-bold text-xl mb-2 text-center "><button> <%= link_to "Ajouter au panier" , paniers_path %></button> </div>
      <p class="text-gray-700 text-base"> </p>
    </div>
  </div>
  </div>

   <div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://www.sephora.fr/dw/image/v2/BCVW_PRD/on/demandware.static/-/Sites-masterCatalog_Sephora/default/dw12f2886b/images/hi-res/SKU/SKU_2009/544037_swatch.jpg?sw=240&sh=240&sm=fit">
  <div class="px-6 py-4 bg-white">
    <div class="font-bold text-xl mb-2 text-center "><button>YVES SAINT LAURENT<br>
    Touche Éclat le Teint<br>
    Fond de Teint hydratant<br>
      40,50€ <br></button> </div>
         <div class="px-6 py-4 bg-slate-300 hover:bg-slate-200">
    <div class="font-bold text-xl mb-2 text-center "><button> <%= link_to "Ajouter au panier" , paniers_path %></button> </div>
      <p class="text-gray-700 text-base"> </p>
    </div>
    </div>
  </div><br>
  <br>
  </div><br> <br>


  <p class="w-fit m-auto text-4xl">NOS TOP MARQUES  <b class="text-red-300">Maquillage</b></p><br>
<div class=" grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 w-2/3 m-auto">
<div class="w-full rounded overflow-hidden shadow-lg">
  <button> <img class="w-full" src="https://www.sephora.fr/dw/image/v2/BCVW_PRD/on/demandware.static/-/Library-Sites-SephoraV2/fr_FR/dwa463f430/landingpage/LP_top_cat/Bandeau-logo-noir-SC.jpg"></button> 
 
      <p class="text-gray-700 text-base"> </p>
    
  </div>

  <div class="w-full rounded overflow-hidden shadow-lg">
  <button> <img class="w-full" src="https://www.sephora.fr/dw/image/v2/BCVW_PRD/on/demandware.static/-/Library-Sites-SephoraV2/fr_FR/dw79a87344/landingpage/LP_top_cat/Bandeau-logo-noir-Benefit.jpg"></button> 
 
      <p class="text-gray-700 text-base"> </p>
    
  </div>

  <div class="w-full rounded overflow-hidden shadow-lg">
  <button> <img class="w-full" src="https://www.sephora.fr/dw/image/v2/BCVW_PRD/on/demandware.static/-/Library-Sites-SephoraV2/fr_FR/dwcaf31f1f/landingpage/top_cat_parfum/logo-guerlain.jpg"></button> 
 
      <p class="text-gray-700 text-base"> </p>
    
  </div>

  <div class="w-full rounded overflow-hidden shadow-lg">
  <button> <img class="w-full" src="https://www.sephora.fr/dw/image/v2/BCVW_PRD/on/demandware.static/-/Library-Sites-SephoraV2/fr_FR/dw2d5844ad/landingpage/LP_top_cat/Anastasia-min_2.jpg"></button> 
 
      <p class="text-gray-700 text-base"> </p>
    
  </div>
  </div><br><br><br><br><br>

  <p class="w-fit m-auto text-4xl bg-rose-300"> Idée et inspirations beauté</p><br>
<div class=" grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3 w-2/3 m-auto">
  <div class="w-full rounded overflow-hidden shadow-lg relative">
   <img class="w-full" src="https://www.sephora.fr/dw/image/v2/BCVW_PRD/on/demandware.static/-/Library-Sites-SephoraV2/fr_FR/dwdd4b6fa3/SN-5334-FR-414x348.jpg">
    <div class="px-6 py-4 bg-white">
      <div class="font-bold text-xl mb-2 text-center absolute left-14 top-10 bg-white ">DIAGNOSTIC<br>fond de Teint<br>
       <button class="bg-black text-zinc-50 "> Découvrir</button> </div>
         <p class="text-gray-700 text-base"> </p>
    
    </div>
  </div>
   

  <div class="w-full rounded overflow-hidden shadow-lg relative">
     <img class="w-full" src="https://www.sephora.fr/dw/image/v2/BCVW_PRD/on/demandware.static/-/Library-Sites-SephoraV2/fr_FR/dwec167a76/landingpage/LP_top_cat/mup-good-for-W42.jpg">
      <div class="px-6 py-4 bg-white">
        <div class="font-bold text-xl mb-2 text-center absolute left-14 top-10 bg-white ">Good for <br>Maquillage<br>
         <button class="bg-black text-zinc-50 "> Découvrir</button> </div>
         <p class="text-gray-700 text-base"> </p>
    
       </div>
  </div>

    <div class="w-full rounded overflow-hidden shadow-lg relative">
      <img class="w-full" src="https://www.sephora.fr/dw/image/v2/BCVW_PRD/on/demandware.static/-/Library-Sites-SephoraV2/fr_FR/dwffcef78f/landingpage/LP_top_cat/SN-1959-TOOLKIT-BROWS-EMAILFOOTER-640x400-V2.jpg">
      <div class="px-6 py-4 bg-white">
        <div class="font-bold text-xl mb-2 text-center absolute left-14 top-10 bg-white ">GUIDE BEAUTÉ<br>SOURCILS<br>
         <button class="bg-black text-zinc-50 "> Découvrir</button> </div>
          <p class="text-gray-700 text-base"> </p>
      </div>
    
    </div>
</div>
   
  <div class=" grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-2 w-2/3 m-auto">
      <div class="w-full rounded overflow-hidden shadow-lg">
       <img class="w-full" src="https://www.sephora.fr/dw/image/v2/BCVW_PRD/on/demandware.static/-/Library-Sites-SephoraV2/fr_FR/dw909038b9/landingpage/LP_top_cat/BG_MASCARA.jpg">
 
        <p class="text-gray-700 text-base"> </p>
      </div>
  
        <div class="w-full rounded overflow-hidden shadow-lg">
           <img class="w-full" src="https://www.sephora.fr/dw/image/v2/BCVW_PRD/on/demandware.static/-/Library-Sites-SephoraV2/fr_FR/dw971f6645/landingpage/LP_top_cat/SN-2988-FR-LPINTRO_900x400-MINIS.jpg">
  
             <p class="text-gray-700 text-base"> </p>
        </div>
  </div>
<br> <br> <br> <br> <br> <br> <br> <br> <br> 

