<div class="bg-black m-20">
<div class=" center rounded overflow-hidden shadow-lg relative">
  <img class="m-10  " src="https://www.sephora.fr/on/demandware.static/-/Sites-siteCatalog_Sephora_FR/default/dw7da17c89/category_banners/Parfum/Estore20_TopCat_FRAGRANCE_Web.jpg">
  <div class="absolute left-14 top-10  mt-6">
  <h1 class="text-3xl">Parfum</h1>
  <br>
  <p class="text-xl">Avec ULTRA BEAUTY, le parfum est bien plus qu'une fragrance ! Exprimez votre personnalité<br>
     avec une eau de toilette florale ou une eau de parfum puissante pour un reflet<br>
     évocateur de nos humeurs, nos envies... Best-sellers ou nouveautés parfum,<br>
     arborez votre nouvelle signature !</p>
  </div>
</div>
</div>








<h1 class="w-fit m-auto text-8xl"> P A R F U M </h1><br>
<div class=" grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 w-2/3 m-auto">


<div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://www.nocibe.fr/bibliotheque/PageListe/sous_categ/C-48169.png">
  <div class="px-6 py-4 bg-white hover:bg-slate-200">
    <div class="font-bold text-xl mb-2 text-center "><button> Parfum Femme</button> </div>
      <p class="text-gray-700 text-base"> </p>
    </div>
  </div>
  
<div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://www.nocibe.fr/bibliotheque/PageListe/sous_categ/C-48168.jpg">
  <div class="px-6 py-4 bg-white hover:bg-slate-200">
    <div class="font-bold text-xl mb-2 text-center "><button> Parfum Homme</button> </div>
      <p class="text-gray-700 text-base"> </p>
    </div>
  </div>
  
  <div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://www.nocibe.fr/bibliotheque/PageListe/sous_categ/C-48167.jpg">
  <div class="px-6 py-4 bg-white hover:bg-slate-200">
    <div class="font-bold text-xl mb-2 text-center "><button> Parfum Enfant</button> </div>
      <p class="text-gray-700 text-base"> </p>
    </div>
  </div>
   <div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://www.nocibe.fr/bibliotheque/PageListe/sous_categ/C-48166.png">
  <div class="px-6 py-4 bg-white hover:bg-slate-200">
    <div class="font-bold text-xl mb-2 text-center "><button> Parfum Mixte</button> </div>
      <p class="text-gray-700 text-base"> </p>
    </div>
  </div>
  


 
  </div><br><br><br><br><br>
   <p class="w-fit m-auto text-4xl">Notre sélection de <b class="text-red-300">coffret</b></p><br>
    



<div class=" grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 w-2/3 m-auto">
  <div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://www.sephora.fr/dw/image/v2/BCVW_PRD/on/demandware.static/-/Sites-masterCatalog_Sephora/default/dwdc1cfcdf/images/hi-res/SKU/SKU_3757/657485_swatch.jpg?sw=240&sh=240&sm=fit">
  <div class="px-6 py-4 bg-white">
    <div class="font-bold text-xl mb-2 text-center "><button> ARMANI<br>
      Sì<br>
      Coffret Eau de Parfum<br>
      119,00 €<br></button> </div>
      <div class="px-6 py-4 bg-slate-300 hover:bg-slate-200">
    <div class="font-bold text-xl mb-2 text-center "><button> <%= link_to "Ajouter au panier" , paniers_path %></button> </div>
      <p class="text-gray-700 text-base"> </p>
    </div>
    </div>
  </div>
  <div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://www.sephora.fr/dw/image/v2/BCVW_PRD/on/demandware.static/-/Sites-masterCatalog_Sephora/default/dwd2b2f77c/images/hi-res/SKU/SKU_3873/657480_swatch.jpg?sw=240&sh=240&sm=fit">
  <div class="px-6 py-4 bg-white">
    <div class="font-bold text-xl mb-2 text-center "><button>CAROLINA HERRERA<br>
      Good Girl<br>
      Coffret Eau de Parfum<br>
      115,00 €<br></button> </div>
         <div class="px-6 py-4 bg-slate-300 hover:bg-slate-200">
    <div class="font-bold text-xl mb-2 text-center "><button><%= link_to "Ajouter au panier" , paniers_path %></button> </div>
      <p class="text-gray-700 text-base"> </p>
    </div> 
    </div>
  </div>
  <div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://www.sephora.fr/dw/image/v2/BCVW_PRD/on/demandware.static/-/Sites-masterCatalog_Sephora/default/dw428b5f40/images/hi-res/SKU/SKU_3959/663831_swatch.jpg?sw=240&sh=240&sm=fit">
  <div class="px-6 py-4 bg-white">
    <div class="font-bold text-xl mb-2 text-center "><button> CHLOÉ<br>
      Chloé Signature<br>
      Coffret Eau de Parfum<br>
      109,00 €<br></button> </div>
       <div class="px-6 py-4 bg-slate-300 hover:bg-slate-200">
    <div class="font-bold text-xl mb-2 text-center "><button><%= link_to "Ajouter au panier" , paniers_path %></button> </div>
      <p class="text-gray-700 text-base"> </p>
      </div>
    </div>
  </div>
  <div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://www.sephora.fr/dw/image/v2/BCVW_PRD/on/demandware.static/-/Sites-masterCatalog_Sephora/default/dwc646fec7/images/hi-res/SKU/SKU_3958/659091_swatch.jpg?sw=240&sh=240&sm=fit">
  <div class="px-6 py-4 bg-white">
    <div class="font-bold text-xl mb-2 text-center "><button> GIVENCHY<br>
      L'Interdit<br>
      Coffret Eau de Parfum<br>
      109,00 €<br></button> </div>
         <div class="px-6 py-4 bg-slate-300 hover:bg-slate-200">
    <div class="font-bold text-xl mb-2 text-center "><button> <%= link_to"Ajouter au panier" , paniers_path %></button> </div>
      <p class="text-gray-700 text-base"> </p>
    </div>
    </div>
  </div>





<div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://www.sephora.fr/dw/image/v2/BCVW_PRD/on/demandware.static/-/Sites-masterCatalog_Sephora/default/dw44f7cf15/images/hi-res/alternates/PID_alternate1/PID_alternate1_2503/P10044475_1.jpg?sw=265&sh=265&sm=fit">
  <div class="px-6 py-4 bg-white">
    <div class="font-bold text-xl mb-2 text-center "><button> ARMANI<br>
      Stronger with you<br>
      Coffret Eau de toilette<br>
      92,00 €<br></button> </div>
      <div class="px-6 py-4 bg-slate-300 hover:bg-slate-200">
    <div class="font-bold text-xl mb-2 text-center "><button><%= link_to "Ajouter au panier", paniers_path %> </button> </div>
      <p class="text-gray-700 text-base"> </p>
    </div>
    </div>
  </div>
  <div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://www.sephora.fr/dw/image/v2/BCVW_PRD/on/demandware.static/-/Sites-masterCatalog_Sephora/default/dwa9820981/images/hi-res/SKU/SKU_3441/617765_swatch.jpg?sw=240&sh=240&sm=fit">
  <div class="px-6 py-4 bg-white">
    <div class="font-bold text-xl mb-2 text-center "><button>KENZO<br>
      FLOWER BY KENZO<br>
      Coffret Eau de Parfum<br>
      
      67,50 €<br></button> </div>
      <div class="px-6 py-4 bg-slate-300 hover:bg-slate-200">
    <div class="font-bold text-xl mb-2 text-center "><button> <%= link_to "Ajouter au panier", paniers_path %> </button> </div>
      <p class="text-gray-700 text-base"> </p>
    </div> 
    </div>
  </div>
  <div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://www.sephora.fr/dw/image/v2/BCVW_PRD/on/demandware.static/-/Sites-masterCatalog_Sephora/default/dwe0425b6f/images/hi-res/SKU/SKU_3441/622225_swatch.jpg?sw=240&sh=240&sm=fit">
  <div class="px-6 py-4 bg-white">
    <div class="font-bold text-xl mb-2 text-center "><button> NARCISO RODRIGUEZ<br>
      for her<br>
      Coffret Eau de toilette<br>
      79,50 €<br></button> </div>
      <div class="px-6 py-4 bg-slate-300 hover:bg-slate-200">
    <div class="font-bold text-xl mb-2 text-center "><button><%= link_to "Ajouter au panier", paniers_path %> </button> </div>
      <p class="text-gray-700 text-base"> </p>
    </div>
    </div>
  </div>
  <div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://www.sephora.fr/dw/image/v2/BCVW_PRD/on/demandware.static/-/Sites-masterCatalog_Sephora/default/dwd334dc16/images/hi-res/alternates/PID_alternate1/PID_alternate1_2810/P10049078_1.jpg?sw=265&sh=265&sm=fit">
  <div class="px-6 py-4 bg-white">
    <div class="font-bold text-xl mb-2 text-center "><button> GIVENCHY<br>
      Irresistible GIVENCHY<br>
      Coffret Eau de Parfum<br>
      81,75 €<br></button> </div>
      <div class="px-6 py-4 bg-slate-300 hover:bg-slate-200">
    <div class="font-bold text-xl mb-2 text-center "><button> <%= link_to"Ajouter au panier" , paniers_path %></button> </div>
      <p class="text-gray-700 text-base"> </p>
    </div>
    </div>
  </div>

























</div><br><br><br><br>
<p class="w-fit m-auto text-4xl">Promotion </p><br>

  <div class=" m-auto w-fit rounded overflow-hidden shadow-lg">
  <button> <img class="w-full" src="https://www.nocibe.fr/bibliotheque/OP_ENSEIGNE/2023/avril/offre_coffrets/EB_Type_01_Selection_Coffret_V2.jpg"></button> 
 
      <p class="text-gray-700 text-base"> </p>
    
  </div><br>
  <br>
  <br>
<p class="w-fit m-auto text-4xl">NOS TOP MARQUES  <b class="text-red-300">PARFUM</b></p><br>
<div class=" grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 w-2/3 m-auto">
<div class="w-full rounded overflow-hidden shadow-lg">
  <button> <img class="w-full" src="https://www.sephora.fr/dw/image/v2/BCVW_PRD/on/demandware.static/-/Library-Sites-SephoraV2/fr_FR/dwff0c400b/landingpage/lp_top_cat_soin/2009-fr-DIOR.jpg"></button> 
 
      <p class="text-gray-700 text-base"> </p>
    
  </div>

  <div class="w-full rounded overflow-hidden shadow-lg">
  <button> <img class="w-full" src="https://www.sephora.fr/dw/image/v2/BCVW_PRD/on/demandware.static/-/Library-Sites-SephoraV2/fr_FR/dwaf541327/landingpage/top_cat_parfum/2009-fr-CHANEL.jpg"></button> 
 
      <p class="text-gray-700 text-base"> </p>
    
  </div>

  <div class="w-full rounded overflow-hidden shadow-lg">
  <button> <img class="w-full" src="https://www.sephora.fr/dw/image/v2/BCVW_PRD/on/demandware.static/-/Library-Sites-SephoraV2/fr_FR/dwea77af78/landingpage/top_cat_parfum/2009-fr-Lancome.jpg"></button> 
 
      <p class="text-gray-700 text-base"> </p>
    
  </div>

  <div class="w-full rounded overflow-hidden shadow-lg">
  <button> <img class="w-full" src="https://www.sephora.fr/dw/image/v2/BCVW_PRD/on/demandware.static/-/Library-Sites-SephoraV2/fr_FR/dw4507db8d/landingpage/top_cat_parfum/2009-fr-YSL.jpg"></button> 
 
      <p class="text-gray-700 text-base"> </p>
    
  </div>
  </div><br><br><br><br><br>



    <div class=" grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-2 w-2/3 m-auto">


<div class="w-full rounded overflow-hidden shadow-lg">
  <img class="w-full" src="https://www.sephora.fr/on/demandware.static/-/Library-Sites-SephoraV2/fr_FR/dw22356ebe/BONPLANBEAUTE/SN-416%20FR-Element%20e-store-Try%20and%20buy%20-BPB.jpg"></div>
  <div class="px-6 py-4 bg-white">
    <div class="font-bold  mb-2 "><div class="text-center text-red-600 ">Tester moi  ! </div><br>
     Recevez votre parfum accompagné de sa dose d'essai.
     Idéal pour le sentir et le tester avant de(vous) l'offrir.
     Passez ainsi commande sans risque!<br>
     <div class="text-red-600 ">1.</div>Un echantillon vous sera remis automatiquement
     avec votre parfum<br>
     <div class="text-red-600 ">2.</div>tester l'echantillon avant d'ouvrir le parfum<br>
     <div class="text-red-600 ">3.</div>Adoptez le ou retournez nous le flacon<br> 
    </div>
      <p class="text-gray-700 text-base"> </p>
  </div>
</div><br> <br> <br> <br> <br>
  


  
